ALTER TABLE messages ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Members
can
see
messages\ ON messages FOR SELECT USING (restaurant_id IN (SELECT restaurant_id FROM restaurant_members WHERE user_id = auth.uid()));
